@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

body{
    background:url('./menu-images/menu-bg-2.jpg') no-repeat center center/cover;
}

.xyz{
    max-width: 1000px;
    margin: 50px auto;
}
.menu-header{
    width: 160px;
    margin-left: auto;
    margin-right:auto ;
    color:white;
    font-size: 1.1em;
    /* background-color: black; */
}
.menu-header h1{
    
    border-bottom: 3px solid whitesmoke;
    font-family: 'Pattaya', sans-serif;
}
.menu{

    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
    overflow: hidden;
    background-color: rgba(247, 243, 236, 0.719);
   border-radius: 50px;
    padding-top:30px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px 3px rgba(245, 210, 149, 0.719);
}

.menu-content{
    flex: 1;
    display:flex;
    padding-right: 5px;
    flex-direction:column;
    
}   
.product-price {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    padding-bottom: 2px;
    font-style: italic;
    color: black;
}
.single-menu{
    opacity: 1;
    flex-basis:45%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(241, 132, 22);
    /* background-color: beige; */
    
}
.single-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 1;

}
.single-menu h4 {
        font-size: 1.2em;
        padding-bottom: 5px;
        font-family: 'Oswald', sans-serif;
        border-bottom: 2px dashed black;
        text-align: center;
        margin-bottom: 10px;
    }
.single-menu h4 span{
    padding-right: 10px;
    float: right;
    font-size: 1em;
    font-style: normal;
    color: orange;
}
.image{
    max-width: 150px;
    height: 150px;
    margin-right: 10px;
    padding:2px;

}
.image img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border:1px solid orange;
    padding:2px;
    transition: .5s;
}
.single-menu:hover  img{
    border-radius:0;
    padding: 0;

}
.single-menu:hover{
    /* background-color: ; */
    box-shadow: 1px 1px 20px rgb(230, 167, 119);
    /* padding: 2px; */
    /* border-radius: 20px; */
    transform: scaleX(1.04);
    background-color: rgb(242, 126, 138);
    border-bottom: 0;

}
.btn{
    display: flex;
    justify-content: center;
}
.btn span{
    width: 60%;
    text-align: center;
    font-family: sans-serif;
    border: 2px solid orange;
    padding: 5px;
    border-radius: 50px;
    background:white;
    color:orange;

}
.btn:hover span{
    background-image: linear-gradient(to right, rgb(255, 118, 20),rgb(250, 205, 172));
    transform: scale(1.02);
    color:white;
    cursor: pointer;
    border-color:white;

}
/* 
.menu::before{
    content: "";
    background: url('../bg2.jpg') no-repeat center center/cover;
    position: absolute;
    height: 1300px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

} */

@media screen and (max-width:900px){
    .menu{
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px;
    }
    .xyz{
        width: 650px;

    }
    .single-menu{
        width: 500px;
        margin: 20px auto;
    }
}
@media screen and (max-width:600px){
    .menu{
        width: 500px;;
    }
    .menu-content{
        width: 300px;
    }
    .single-menu{

        /* flex-basis: 75%; */
        flex-direction: column;

    }
}
